<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ course.course_name }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel='stylesheet' href='/static/css/bootstrap.min.css'>
	<link rel='stylesheet' href='/static/css/magnific-popup.css'>
	<link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<div class="logo-wrapper">
					<img class="logo" src="/static/images/logo.png" width="100px"/>
				</div>
			</a>
			<button class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navHeaderCollapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse navHeaderCollapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/praxis">Praxis</a></li>
				<li><a href="/about_us">About praxis</a></li>
				<li><a href="#">My courses</a></li>
				<li><a href="/returnToProfile">Profile</a></li>
				<li><a href="/logout"><i class="glyphicon glyphicon-log-out"></i> Log out</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-sm-2 col-md-2"></div>
		<div class="col-xs-12 col-sm-8 col-md-8">
			<div class="well well-sm">
				<div class="row">
					<div class="col-sm-6 col-md-4">
						<img src="http://placehold.it/500x500" alt="" class="img-rounded img-responsive"/>
						<div class="button-container" style="margin: 20px; text-align: center">
							<button type="button" data-toggle="modal" data-target="#myModal">
								<span>Review</span>
							</button>
						</div>

						<!-- Modal -->
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
						     aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
											&times;
										</button>
										<h4 class="modal-title" id="myModalLabel">Write review</h4>
									</div>
									<div class="modal-body">
										<div class="form-group row">
                                            <div style="display: none">{{ company_login }}</div>
											<div class="col-md-12"><label for="review">about course</label></div>
											<div class="col-md-12"><textarea type="text" id="review"
											                                 class="form-control" rows="10"></textarea>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close
										</button>
										<button type="submit" id='send-review-course' class="btn btn-primary">Send</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-8">
						<div class="col-md-12">
							<div class="col-sm-7" style="padding-left: 0">
								<h4 id="course-name">{{ course.course_name }}</h4>
							</div>
							<div class="'col-sm-4">
								<h5>Status: {{ course.status }}</h5>
							</div>
						</div>
						<p><i class="glyphicon glyphicon-calendar"></i> <cite id="time">{{ course.date_of_start
							}}-{{course.date_of_end}}</cite></p>
						<p><i class="glyphicon glyphicon-map-marker"></i> <cite id="geolocation">{{course.city}},
							{{course.country}}</cite></p>
						<p><i class="glyphicon glyphicon-briefcase"></i> <a href={{course.link}}><span
								id="company-name">{{course.company_name}}</span></a></p>
						<p><i class="glyphicon glyphicon-list-alt"></i> <span id="full-amount">Licensed amount: {{course.amount}}</span>
						</p>
						<p><i class="glyphicon glyphicon-user"></i> <span id="apply-amount">Number of applys</span></p>
						<p><i class="glyphicon glyphicon-info-sign"></i> <span id="course-info">{{course.info}}</span>
						</p>
					</div>

					<div class="col-md-12">
						<h4 style="text-align: center">Reviews</h4>
						<div class="reviews-list">
							<div class="container card">
								<br>
								<span class="review-author">Nazar Kulyk</span>
								<span class="review-date">11.11.2017, 14:00</span>
								<p><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus eget ipsum
									nec vulputate.
									Sed vestibulum augue vel dictum imperdiet. Duis sed augue posuere, tempus diam
									vitae, efficitur
									ligula.
								</p><br>
							</div>
							<div class="container card">
								<br>
								<span class="review-author">Roman Vit</span>
								<span class="review-date">11.11.2017, 12:37</span>
								<p><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus eget ipsum
									nec vulputate.
									Sed vestibulum augue vel dictum imperdiet. Duis sed augue posuere, tempus diam
									vitae, efficitur
									ligula.
								</p><br>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-2 col-md-2"></div>
	</div>
</div>


<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="footer-box">
					<div>© 2017 IoT@NULP All rights reserved.</div>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</footer>

<script src='/static/js/jquery.min.js'></script>
<script src='/static/js/scroolreveal.js'></script>
<script src='/static/js/bootstrap.min.js'></script>
<script src='/static/js/magnific-popup.js'></script>
<script src='/static/js/comment.js'></script>

</body>
</html>