<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Courses</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel='stylesheet' href='/static/css/bootstrap.min.css'>
	<link rel='stylesheet' href='/static/css/magnific-popup.css'>
	<link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<div class="logo-wrapper">
					<img class="logo" src="/static/images/logo.png" width="100px"/>
				</div>
			</a>
			<button class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navHeaderCollapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse navHeaderCollapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/praxis">Praxis</a></li>
				<li><a href="/about_us">About praxis</a></li>
				<li><a href="/courses-s">My courses</a></li>
				<li><a href="/returnToProfile">Profile</a></li>
				<li><a href="/logout"><i class="glyphicon glyphicon-log-out"></i> Log out</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-sm-2 col-md-2"></div>
		<div class="col-xs-12 col-sm-8 col-md-8">
			<div class="well well-sm">
				<div class="row">
					<div class="col-md-12">
						{% for course in courses %}
						<a href={{course.link}}>
						<div class="card container">
							<div class="col-md-6">
								<h4 id="course-name">{{ course.course_name }}</h4></div>
							<div class="col-md-3">
								<p>Status: <span>{{course.status}}</span></p>
							</div>
                            <div class="col-md-3">
                                <p><span>{{ course.status_student }}</span></p>
                            </div>

							<div class="col-md-3">
								<p><i class="glyphicon glyphicon-calendar"></i> <cite id="time">{{course.date_of_start}} -
									{{ course.date_of_end }}</cite></p>
							</div>
							<div class="col-md-3">
								<p><i class="glyphicon glyphicon-map-marker"></i> <cite id="geolocation">{{ course.city }}, {{ course.country }}</cite>
								</p>
							</div>
							<div class="col-md-3">
								<p><i class="glyphicon glyphicon-list-alt"></i> <span
										id="full-amount">Licensed amount: {{ course.amount }}</span></p>
							</div>
							<div class="col-md-3">
								<p><i class="glyphicon glyphicon-user"></i> <span
										id="apply-amount">Number of applys</span></p>
							</div>
							<div class="col-md-12">
								<p><i class="glyphicon glyphicon-info-sign"></i> <span id="course-info">{{ course.info }}</span>
								</p>
							</div>
							<div class="button-container col-md-12" style="margin: 20px; text-align: right; margin: 0">
								<a href="/"><button type="button"><span>Cancel apply</span></button></a>
							</div>
						</div>
							</a>
						{% endfor %}
					</div>

				</div>
			</div>
		</div>
		<div class="col-sm-2 col-md-2"></div>
	</div>
</div>


<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="footer-box">
					<div>© 2017 IoT@NULP All rights reserved.</div>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</footer>

<script src='/static/js/jquery.min.js'></script>
<script src='/static/js/scroolreveal.js'></script>
<script src='/static/js/bootstrap.min.js'></script>
<script src='/static/js/magnific-popup.js'></script>

</body>
</html>