<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Page</title>
</head>
<body>
    <form method="POST" class="form" id="login-form">
					<div class="message js-form-message"></div>
					<div class="input-container">
						<input type="text" id="login-sign-in" name="login" required="required"/>
						<label for="login-sign-in">login</label>
						<div class="bar"></div>
					</div>
					<div class="input-container">
						<input type="password" id="password-sign-in" name="password" required="required"/>
						<label for="password-sign-in">password</label>
						<div class="bar"></div>
					</div>
					<div class="button-container">
						<button type="submit" id="test"><span>Sign In</span></button>
					</div>
				</form>
    <script src='/static/js/jquery.min.js'></script>
<script src='/static/js/scroolreveal.js'></script>
<script src='/static/js/bootstrap.min.js'></script>
<script src='/static/js/magnific-popup.js'></script>
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/static/js/logintest.js"></script>
</body>
</html>