<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Edit profile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' href='/static/css/bootstrap.min.css'>
	<link rel='stylesheet' href='/static/css/magnific-popup.css'>
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<div class="logo-wrapper">
					<img class="logo" src="/static/images/logo.png" width="100px"/>
				</div>
			</a>
			<button class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navHeaderCollapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse navHeaderCollapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">Praxis</a></li>
				<li><a href="/about_us">About praxis</a></li>
				<li><a href="courses.html">My courses</a></li>
				<li><a href="/student/return">Profile</a></li>
				<li><a href="/logout"><i class="glyphicon glyphicon-log-out"></i> Log out</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-sm-2 col-md-2"></div>
		<div class="col-xs-12 col-sm-8 col-md-8">
			<div class="well well-sm">
				<div class="row">
					<div class="col-md-1"></div>
					<form class="col-md-10">
						<br><br>
						<div class="form-group row ">
							<div class="col-md-4"><label>Upload Image</label></div>
							<div class="input-group col-md-6">
                                <span class="input-group-btn"><span class="btn btn-default btn-file">
                                    Browse… <input type="file" id="img-input" accept="image/*">
                                </span></span>
								<input type="text" class="form-control" readonly>
							</div>
							<img id='profile-img' src="" style="max-width: 200px; max-height: 200px"/>
						</div>
						<hr>
						<div class="form-group row">
							<div class="col-md-4"><label for="first-name">First name</label></div>
							<div class="col-md-6"><input type="text" id="first-name" class="form-control"/></div>
						</div>
						<hr>
						<div class="form-group row">
							<div class="col-md-4"><label for="last-name">Last name</label></div>
							<div class="col-md-6"><input type="text" id="last-name" class="form-control"/></div>
						</div>
						<hr>
						<div class="form-group row">
							<div class="col-md-4"><label for="city">City</label></div>
							<div class="col-md-6"><input type="text" id="city" class="form-control"/></div>
						</div>
						<hr>
						<div class="form-group row">
							<div class="col-md-4"><label for="country">Country</label></div>
							<div class="col-md-6"><input type="text" id="country" class="form-control"/></div>
						</div>
						<hr>
						<div class="form-group row">
							<div class="col-md-4"><label for="date-of-birth">Date of Birth</label></div>
							<div class="col-md-6"><input type="date" id="date-of-birth" class="form-control"
							                             placeholder="Date of Birth"></div>
						</div>
						<hr>
						<div class="form-group row">
							<div class="col-md-4"><label for="university">University</label></div>
							<div class="col-md-6"><input type="text" id="university" class="form-control"/></div>
						</div>
						<hr>
						<div class="form-group row">
							<div class="col-md-4"><label for="time-of-studing">Time of styding</label></div>
							<div class="col-md-6"><input type="text" id="time-of-studing" class="form-control"/></div>
						</div>
						<hr>
						<div class="form-group row">
							<div class="col-md-4"><label for="link">Link to LinkedIN</label></div>
							<div class="col-md-6"><input type="text" id="link" class="form-control"/></div>
						</div>
						<hr>
						<div class="form-group row">
							<div class="col-md-4"><label for="bio">About myself</label></div>
							<div class="col-md-6"><textarea type="text" id="bio" class="form-control" rows="10"></textarea></div>
						</div>
						<hr>
						<div class="form-group row">
							<div class="col-md-4"><label>Upload CV</label></div>
							<div class="input-group col-md-6">
                                <span class="input-group-btn">
                                <span class="btn btn-default btn-file">
                                    Browse… <input type="file" id="cv" accept=".pdf">
                                </span>
                                </span>
								<input type="text" class="form-control" readonly>
							</div>
						</div>
						<hr>
						<div class="form-group row">
							<div class="col-md-4"><label for="email">Email</label></div>
							<div class="col-md-6"><input type="email" id="email" class="form-control"/></div>
						</div>
						<hr>
						<div class="form-group row">
							<h4><a name="change-pass" class="link-pseudo" id="show-passwords"
							       onclick="showpasswords()"><span>Change password</span></a>
							</h4>
						</div>
						<div class=row" id="passwords-container" style="display:none;">
							<div class="form-group row">
								<div class="col-md-4"><label for="password">Old password</label></div>
								<div class="col-md-6"><input type="password" id="password" class="form-control"/></div>
							</div>
							<div class="form-group row">
								<div class="col-md-4"><label for="new-password">New password</label></div>
								<div class="col-md-6"><input type="password" id="new-password" class="form-control"/></div>

							</div>
							<div class="form-group row">
								<div class="col-md-4"><label for="confirm-new-password">Confirm password</label></div>
								<div class="col-md-6"><input type="password" id="confirm-new-password"
								                             class="form-control"/></div>

							</div>
						</div>
						<hr>
						<div class="button-container row"  style="text-align: center">
							<button id="save-button"><span>Save changes</span></button>
						</div>
					</form>

					<div class="col-md-1"></div>

				</div>
			</div>
		</div>
		<div class="col-sm-2 col-md-2"></div>
	</div>
</div>


<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="footer-box">
					<div>© 2017 IoT@NULP All rights reserved.</div>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</footer>


<script src="/static/js/edit-page.js"></script>
<script src='/static/js/jquery.min.js'></script>
<script src='/static/js/scroolreveal.js'></script>
<script src='/static/js/bootstrap.min.js'></script>
<script src='/static/js/magnific-popup.js'></script>



</body>
</html>