<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Course</title><meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' href='css/bootstrap.min.css'>
	<link rel='stylesheet' href='css/magnific-popup.css'>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/feedback.css">
	<link rel="stylesheet" href="css/feedback-page.css">
</head>
<body>
<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<div class="logo-wrapper">
					<img class="logo" src="images/logo.png" width="100px"/>
				</div>
			</a>
			<button class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navHeaderCollapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse navHeaderCollapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Praxis</a></li>
				<li><a href="about-us.html">About praxis</a></li>
				<li style="display: none"><a href="index.html"><i class="glyphicon glyphicon-log-in"></i> Log in</a></li>
				<li><a href="courses.html">My courses</a></li>
				<li><a href="profile-s.html">Profile</a></li>
				<li><a href="index.html"><i class="glyphicon glyphicon-log-out"></i> Log out</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container-fluid" align="center">
	<p><h3>Write feedback as:</h3></p>
	<hr class="hr1" <hr>
	<a class="col-xs-12 col-md-6 text3" style="text-decoration: none" align="center" href="feedback.html">Student</a>


	<a class="text3" style="text-decoration: none" align="center" href="feedback-company.html">Company</a>
</div>
<hr class="hr2" <hr>
<div class="tableble">
	<form action="/action_page.php">

		<label for="cname">Company name</label>
		<input type="text" id="cname" name="companyname" placeholder="Your company name..">

		<label for="fname">First Name</label>
		<input type="text" id="fname" name="firstname" placeholder="Your name..">

		<label for="lname">Last Name</label>
		<input type="text" id="lname" name="lastname" placeholder="Your last name..">

		<label for="email">Email</label>
		<input type="text" id="email" name="emmail" placeholder="Your e-mail..">

		<label for="wsite">Website</label>
		<input type="text" id="wsite" name="website" placeholder="Your website..">

		<label for="subject">Subject</label>
		<textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

		<input type="submit" value="Submit">

	</form>
</div>

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="footer-box">
					<div>© 2017 IoT@NULP All rights reserved.</div>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</footer>

<script src='js/jquery.min.js'></script>
<script src='js/scroolreveal.js'></script>
<script src='js/bootstrap.min.js'></script>
<script src='js/magnific-popup.js'></script>
</body>
</html