<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Praxis</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel='stylesheet' href='/static/css/bootstrap.min.css'>
	<link rel='stylesheet' href='/static/css/magnific-popup.css'>
	<link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<div class="logo-wrapper">
					<img class="logo" src="/static/images/logo.png" width="100px"/>
				</div>
			</a>
			<button class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navHeaderCollapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse navHeaderCollapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Praxis</a></li>
				<li><a href="/about_us">About praxis</a></li>
				<li><a href="#">My courses</a></li>
				<li><a href="/returnToProfile">Profile</a></li>
				<li><a href="#"><i class="glyphicon glyphicon-log-out"></i> Log out</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-sm-2 col-md-2"></div>
		<div class="col-xs-12 col-sm-8 col-md-8">
			<div class="well well-sm">
				<div class="row">
					<div class="col-md-12">
						<div class="container">
							<div class="row">
								<div id="custom-search-input">
									<div class="input-group col-md-12">
										<input type="text" class="  search-query form-control" placeholder="Search"/>
										<span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
									</div>
								</div>
							</div>
							<br>
						</div>
						<div class="card container">
							<a href="#">
								<div class="col-md-12">
									<h4 id="course-name">Course name</h4>
								</div>
								<div class="col-md-3">
									<p><i class="glyphicon glyphicon-calendar"></i> <cite id="time">Course start -
										end</cite></p>
								</div>
								<div class="col-md-3">
									<p><i class="glyphicon glyphicon-map-marker"></i> <cite id="geolocation">Lviv,
										UA</cite>
									</p>
								</div>
								<div class="col-md-3">
									<p><i class="glyphicon glyphicon-list-alt"></i> <span
											id="full-amount">Licensed amount</span></p>
								</div>
								<div class="col-md-3">
									<p><i class="glyphicon glyphicon-user"></i> <span
											id="apply-amount">Number of applys</span></p>
								</div>
								<div class="col-md-3">
									<p><i class="glyphicon glyphicon-briefcase"></i> <span id="company-name">Company name</span>
									</p>
								</div>
								<div class="col-md-12">
									<p><i class="glyphicon glyphicon-info-sign"></i> <span id="course-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
									</p>
								</div>
							</a>
						</div>

					</div>

				</div>
			</div>
		</div>
		<div class="col-sm-2 col-md-2"></div>
	</div>
</div>


<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="footer-box">
					<div>© 2017 IoT@NULP All rights reserved.</div>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</footer>

<script src='/static/js/jquery.min.js'></script>
<script src='/static/js/scroolreveal.js'></script>
<script src='/static/js/bootstrap.min.js'></script>
<script src='/static/js/magnific-popup.js'></script>

</body>
</html>