<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' href='css/bootstrap.min.css'>
	<link rel='stylesheet' href='css/magnific-popup.css'>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<div class="logo-wrapper">
					<img class="logo" src="images/logo.png" width="100px"/>
				</div>
			</a>
			<button class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navHeaderCollapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse navHeaderCollapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Praxis</a></li>
				<li><a href="about-us.html">About praxis</a></li>
				<li style="display: none"><a href="index.html"><i class="glyphicon glyphicon-log-in"></i> Log in</a></li>
				<li><a href="courses.html">My courses</a></li>
				<li><a href="profile-s.html">Profile</a></li>
				<li><a href="index.html"><i class="glyphicon glyphicon-log-out"></i> Log out</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-sm-2 col-md-2"></div>
		<div class="col-xs-12 col-sm-8 col-md-8">
			<div class="well well-sm">
				<div class="row">
					<div class="col-sm-6 col-md-4">
						<img src="http://placehold.it/500x500" alt="" class="img-rounded img-responsive"/>
						<div class="button-container" style="margin: 20px; text-align: center">
							<a href="edit-s.html"><button type="button"><span>Edit profile</span></button></a>
						</div>
					</div>
					<div class="col-sm-6 col-md-8">
						<h4 id="user-name">Nazar Kulyk</h4>
						<p><i class="glyphicon glyphicon-map-marker"></i> <cite id="geolocation">Lviv, UA</cite></p>
						<p><i class="glyphicon glyphicon-envelope"></i> <span id="email">email@example.com</span></p>
						<p><i class="glyphicon glyphicon-gift"></i> <span id="date-of-birth">June 02, 1999</span></p>
						<p><i class="glyphicon glyphicon-education"></i> <span id="university">LPNU</span>, <span
								id="time-of-studing">2016 - now</span></p>
						<p><i class="glyphicon glyphicon-info-sign"></i> <span id="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
						</p>
						<p><i class="glyphicon glyphicon-paperclip"></i> <a><span id="cv">my-cool-cv.pdf</span></a></p>
						<p><i class="glyphicon glyphicon-globe"></i> <a><span id="link">linkedin.com/mycoolprofile</span></a></p>
					</div>

					<div class="col-md-12">
						<h4 style="text-align: center">Reviews</h4>
						<div class="reviews-list">
							<div class="container card">
								<br>
								<span class="review-author">Володимир Федак</span>
								<span class="review-date">11.11.2017, 14:00</span>
								<p><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus eget ipsum nec vulputate.
									Sed vestibulum augue vel dictum imperdiet. Duis sed augue posuere, tempus diam vitae, efficitur
									ligula.
								</p><br>
							</div>
							<div class="container card">
								<br>
								<span class="review-author">Зеновій Верес</span>
								<span class="review-date">11.11.2017, 12:37</span>
								<p><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus eget ipsum nec vulputate.
									Sed vestibulum augue vel dictum imperdiet. Duis sed augue posuere, tempus diam vitae, efficitur
									ligula.
								</p><br>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-2 col-md-2"></div>
	</div>
</div>


<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="footer-box">
					<div>© 2017 IoT@NULP All rights reserved.</div>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</footer>

<script src='js/jquery.min.js'></script>
<script src='js/scroolreveal.js'></script>
<script src='js/bootstrap.min.js'></script>
<script src='js/magnific-popup.js'></script>
</body>
</html>