<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sign Up</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' href='/static/css/bootstrap.min.css'>
	<link rel='stylesheet' href='/static/css/magnific-popup.css'>
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="pen-title">
	<div class="container">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="card">
				<img src="../static/images/logo.png" width="80%" style="margin-bottom: 5%">
				<h1 class="title">Sign Up</h1>
				<form action="#" method="#" class="form" id="register-form">
					<div class="message js-form-message"></div>
					<div class="input-container">
						<input type="text" id="company-name-sign-up" name="company_name" required="required"/>
						<label for="company-name-sign-up">company name</label>
						<div class="bar"></div>
					</div>
					<div class="input-container">
						<input type="email" id="email-sign-up" name="email" required="required"/>
						<label for="email-sign-up">email</label>
						<div class="bar"></div>
					</div>
					<div class="input-container">
						<input type="text" id="login-sign-up" name="login" required="required"/>
						<label for="login-sign-up">login</label>
						<div class="bar"></div>
					</div>
					<div class="input-container">
						<input type="password" id="password-sign-up" name="password" required="required"/>
						<label for="password-sign-up">password</label>
						<div class="bar"></div>
					</div>
					<div class="input-container">
						<input type="password" id="confirm-password-sign-up" name="confirm_password" required="required"/>
						<label for="confirm-password-sign-up">confirm password</label>
						<div class="bar"></div>
					</div>
					<div class="button-container">
						<button type="submit" id="sign-up-button"><span>Confirm</span></button>
					</div>
				</form>
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>


<script src='/static/js/jquery.min.js'></script>
<script src='/static/js/scroolreveal.js'></script>
<script src='/static/js/bootstrap.min.js'></script>
<script src='/static/js/magnific-popup.js'></script>
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/static/js/sign-up-c.js"></script>

</body>
</html>